

footer {
    padding: 40px;
    background: #1c456d;
    height: 25vh;

}

.footer-container {
    min-height: 20vh;
}

footer .logo {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

footer .logo i {
    font-size: 25px;
    background: #088F8F;
    border-radius: 50%;
    padding: 10px 15px;
}

footer ul li {
    list-style: none;
    margin-top: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #d1d1d1;
    margin-left: 30px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

footer ul li a:hover {
    color: #FFA500;
}

footer p {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 30px;
}

.back-to-top {
    background: #088F8F;
    height: 50px;
    width: 50px;
    color: #fff;
    border-radius: 50%;
    font-size: 50px;
}

@media (max-width:700px) {

    .hero-section img {
        height: 350px;
        margin-top: 50px;
    }

    .institutions-section .institutions .card {
        margin-bottom: 50px;
    }

    .institutions-section .institutions .row1 {
        margin-bottom: 0px;
    }

    .about-section{
        padding: 50px 30px;
    }
    .about-section img {
        height: 300px;
    }

    .contact-section{
        padding: 50px;
    }

    footer ul li a {
        margin-left: 5px;
        letter-spacing: 0;
    }
}